h1 {
	text-align: center;
}

#buttonsHeader {
	margin-left: 15px;
}

#tb_groupsList td,
#tb_groupsLvl2 td,
#tb_groupsLvl3 td {
	cursor: pointer;
}

.col-md-2,
.col-md-6,
.col-md-8,
.col-md-10 {
	padding: 0 5px;
}

.firstCol {
	padding-left: 10px;
}
.lastCol {
	padding-right: 10px;
}

#div_bksList tr {
	cursor: pointer;
}

.removeIcon,
.removeGroupIcon {
	width: 31px;
	border-left: 1px solid #cccccc;
}
.removeIcon {
	border-right: 1px solid #cccccc;
}

.glyphicon-remove {
	color: #cccccc;
}

.glyphicon-ok-circle,
.glyphicon-remove-circle {
	margin-right: 10px;
}
.sp_greenMessage,
.sp_redMessage {
	margin-left: 20px;
}
.sp_greenMessage {
	color: darkgreen;
}
.sp_redMessage {
	color: darkred;
}

.glyphicon-plus {
	color: #11b6f3;
}
.glyphicon-ok {
	color: darkgreen;
	margin-left: 5px;
}
.it_titleNewGroup {
	width: 165px;
}