h1 {
	text-align: center;
}

#buttonsHeader {
	margin-left: 15px;
}

#tb_groupsList td,
#tb_groupsLvl2 td,
#tb_groupsLvl3 td {
	cursor: pointer;
}

.col-md-2,
.col-md-6,
.col-md-8,
.col-md-10 {
	padding: 0 5px;
}

.firstCol {
	padding-left: 10px;
}
.lastCol {
	padding-right: 10px;
}

#div_bksList tr {
	cursor: pointer;
}